<phpunit colors = "true">
    <testsuites>
        <testsuite name ="Validator test suit">
            <directory>./Validator/testes</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhiteList="true">
            <directory sufix=".php">./Validator/</directory>
        </whitelist>
    </filter>
</phpunit>

